/*
a:link {
  color: black;
  font-size: 15px;
  text-decoration: none;
}
a:visited {
  color: red;
}
a:hover {
  font-size: 2em;
  text-decoration: underline;
  color: blue;
}
a:active {
  text-decoration: overline;
  color: green;
}
*/

a:link {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
  text-align: center;
}
li {
  margin-left: 10px;
  display: inline-block;
  background-color: yellow;
  padding: 10px;
}
li:hover {
  background-color: red;
  font-size: 25px;
}
